\<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Luís">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.bundle.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="favicon">
    <title>E-ntervista | Candidatos</title>
</head>
<body>
<div th:replace="fragments/candidates_fragments :: navbar_candidatos"></div>
<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <table class="table table-striped">
            <thead>
	            <tr>
	                <th scope="col">#</th>
	                <th scope="col">Nombre</th>
	                <th scope="col">Apellido</th>
	                <th scope="col">Ocupación</th>
	                <th scope="col">Número de teléfono</th>
	                <th scope="col">Cumpleaños</th>
	                <th scope="col">E-Mail</th>
	                <th scope="col">Edit</th>
	            </tr>
            </thead>
            <tbody>
	            <tr th:each="candidato : (${candidato})">
					<td th:text="(${candidato.id})"></td>
					<td th:text="(${candidato.nombre})"></td>
					<td th:text="(${candidato.apellido})"></td>
					<td th:text="(${candidato.ocupacion})"></td>
					<td th:text="(${candidato.numeroDeTelefono})"></td>
					<td th:text="(${candidato.cumpleanos})"></td>
					<td th:text="(${candidato.email})"></td>
					<td>
						<button class="btn btn-success" onclick="">Edit</button>
						<button class="btn btn-outline-danger">Delete</button>
					</td>
	            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/fragments :: jsSrc"></div>
</body>
</html>