<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Luís">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.bundle.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="favicon">
    <title>E-ntervista | Candidatos</title>
</head>
<body>
<div th:replace="fragments/candidates_fragments :: navbar_candidatos"></div>
<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <table class="table table-striped">
            <thead>
	            <tr>
	                <th scope="col">#</th>
	                <th scope="col">Primer nombre</th>
	                <th scope="col">Apellido</th>
	                <th scope="col">Ocupación</th>
	                <th scope="col">Número de teléfono</th>
	                <th scope="col">Cumpleaños</th>
	                <th scope="col">E-Mail</th>
					<th scope="col">Área de aplicación</th>
	                <th scope="col">Edit</th>
	            </tr>
            </thead>
            <tbody>
	            <tr>
	                <th scope="row">1</th>
	                <td>Mark</td>
	                <td>Otto</td>
	                <td>Programación</td>
	                <td>+55 73 98122-3344</td>
	                <td>19/09/2002</td>
	                <td>example@example.com</td>
	                <td>Programación</td>
	            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/fragments :: jsSrc"></div>
</body>
</html>