<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Luís">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.bundle.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="favicon">
    <title>E-ntervista | Home</title>
</head>
<body>

<div th:replace="fragments/fragments :: navbar"></div>

<div class="container-fluid p-5">

    <div class="row title mt-3 ms-5 mb-4">
        <h4>Forma de persona</h4>
    </div>

    <div class="col-xl-9 offset-md-1">
        <form action="" method="post">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="first">Primer Nombre</label>
                        <input type="text" class="form-control" name="firstName" placeholder="" id="first">
                    </div>
                </div>
                <!--  col-xl-6   -->

                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="last">Apellido</label>
                        <input type="text" class="form-control" name="lastName" placeholder="" id="last">
                    </div>
                </div>
                <!--  col-xl-6   -->
            </div>


            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="company">Ocupación</label>
                        <input type="text" class="form-control" name="occupation" placeholder="" id="company">
                    </div>


                </div>
                <!--  col-xl-6   -->

                <div class="col-xl-6">

                    <div class="form-group">
                        <label for="phone">Número de teléfono</label>
                        <div class="d-flex">
                            <select class="form-select w-25 me-2" name="areaCode" id="codePhone">
                                <option selected>DDI</option>
                            </select>
                            <input type="tel" class="form-control" id="phone" name="phoneNumber" placeholder="Número">
                        </div>
                    </div>
                </div>
                <!--  col-xl-6   -->
            </div>
            <!--  row   -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="birthday">Cumpleaños</label>
                        <input type="date" class="form-control" name="birthday" id="birthday">
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="example@example.com">
                    </div>
                </div>

            </div>
            <div class="row justify-content-start ps-2">
                <button type="submit" class="btn btn-primary mt-3 me-2 col-2">Guardar</button>
                <button type="reset" class="btn btn-danger mt-3 me-2 col-2">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div th:replace="fragments/fragments :: jsSrc"></div>
</body>
</html>